/*************/
/* Job Detail page */
/*************/

.job .job_title {
  margin-bottom: 0;
}

.job .job_company {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.job .job_location {
  margin-top: 0;
  margin-bottom: 4em;
}

.job .job_date {
  font-style: italic;
  margin: 0;
}

.job .job_logo {
  margin-bottom: 2em;
  max-height: 7em;
}

.job ul > li {
  margin-bottom: 0.3em;
}

.job h3 {
  font-size: 1.4em;
}

@media only screen and (min-width: 1000px) {
  @supports (display: grid) {
    .job .section_wrapper {
      display: grid;
      grid-template-columns: 2.5fr 1fr;
      gap: 5em;
    }

    .job nav {
      margin-top: 8.5em;
    }

    .job nav a {
      font-weight: normal;
      color: var(--black);
    }
    .job nav a:hover {
      text-decoration: none;
      // font-weight: bold;
      color: var(--red);
    }

    .job .nav_job_date {
      font-size: 0.7em;
      font-style: italic;
    }

    .job .current_job {
      font-weight: bold;
      color: var(--red);
    }
  }
}

@media only screen and (max-width: 999px) {
  .job nav {
    display: none;
  }
}
