// Job specific cards styles

.card .job_title {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.card .job_company {
  font-weight: bold;
}

.card .job_company,
.card .job_location {
  margin: 0.2em;
}

.card .job_date {
  font-style: italic;
  margin: 0;
}
