/*********/
/* Cards */
/*********/

.card {
  margin: 0 1em 1em 0;
  padding: 1em;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0px 0px 0.2em var(--black);
}

.card_dark {
  background-color: var(--grey_dark);
}

.card_image {
  max-width: 100%;
  max-height: 5em;
  height: auto;
  width: auto;
}

.card h3 {
  font-size: 1.4em;
}

@supports (display: grid) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 2em;
  }
}
