/*********/
/* Cover */
/*********/

.cover {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  min-height: 85vh;
}
.cover .cover-wrapper {
  width: 66vw;
  height: 75vh;
  margin: auto;
}

.cover .logo {
  min-width: 8em;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.cover h1 {
  margin: 0px auto;
  text-shadow: -2px 1px 1px var(--black);
}

.cover .cover_title {
  font-size: calc(2em + .9vw + 2vh);
}

.cover a {
  color: var(--white);
  font-weight: 700;
  text-shadow: 1px 1px 1px var(--black);
}

.cover a:hover {
  color: var(--red);
  text-decoration: none;
}

.cover .cover_nav_social_icons {
  margin-top: 0.6em;
}

.cover_social_icon {
  margin: 0 0.1em;
}

@supports (display: grid) {
  .cover .cover-wrapper {
    display: grid;
    grid-template-columns: auto min-content min-content 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 1em;
  }

  .cover .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .cover .cover_title {
    writing-mode: vertical-rl;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .cover .cover_icons {
    writing-mode: vertical-rl;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .cover nav {
    grid-row: 2 / 3;
    text-align: right;
    font-size: calc(1em + 1vh);
  }
}