/*             */
/* Base styles */
/*             */

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--white);
  color: var(--black);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Do Hyeon', sans-serif;
}

h1,
h2 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--red);
  cursor: pointer;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul > li {
  padding: 0;
}

ol {
  padding: 0;
  margin: 1em 0 0;
}

.inverse {
  color: var(--white);
  background-color: var(--black);
}

/************/
/* Sections */
/************/


@media only screen and (min-width: 825px) {
  .section_wrapper {
    width: 66vw;
    margin: 0 auto;
  }

  section {
    padding: 3em 0;
  }

  .section_title {
    font-size: calc(1.5em + 1.5vw);
    margin: 0 auto;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 824px) {
  .section_wrapper {
    width: 85vw;
    margin: 0 auto;
  }

  section {
    padding: calc(16px + 2vh) 0;
  }

  .section_title {
    font-size: calc(1.5em + 1.5vw);
    margin: 0 auto;
    margin-bottom: calc(16px + 2vh);
  }
}



.section_footer {
  margin: 0 1em 0 0;
  text-align: right;
}

.section_accent {
  position: absolute;
  bottom: -1px;
  right: 3ch;
  max-width: 10ch;
}

/*           */
/* Statement */
/*           */

.statement {
  display: flex;
  // padding: 3em 0;
  position: relative;
}

.statement_content {
  margin: 0;
  padding-bottom: 4em;
  columns: 35ch 2;
}

/*************/
/* Projects */
/*************/

/**********/
/* Skills */
/**********/

.skill_card {
  max-width: 25ch;
  padding-bottom: 4em;
}

.skill_icon {
  font-size: 4em;
}

.skill_name {
  font-size: 1.4em;
  margin-bottom: 0em;
}

.skill_rating {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;

  display: grid;
  font-size: 1.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: calc(100% - 1.3333em);
}

.skill_rating_icon {
  transform: rotate(45deg);
}

.skill_rating_icon_checked {
  color: var(--red);
}

@supports (display: grid) {
  .skill_card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    gap: 1em;
  }
}

/***********/
/* Contact */
/***********/

.contact_content {
  margin: 0;
  max-width: 35ch;
}

/**********/
/* Footer */
/**********/

footer {
  text-align: center;
}

footer p {
  margin: 0;
  padding: 0.3em;
}
