---
layout: page
title: Blog
permalink: /blog/
---
<hr>
</br>
{% for post in site.posts %}
  <h2>{{ post.title }}</h2>
  <h5>{{ post.date | date_to_long_string: "ordinal" }} by {{ post.author }}</h5>
  <div>{{ post.content }}</div>
  </br>
  <hr>
{% endfor %}