---
layout: home
title: "Hidde Kloosterman"
---

<section class="statement">
  <div class="section_wrapper">
    <div>
      <h1 class="section_title">About me</h1>
    </div>
    <p class="statement_content">
      {{ site.description }}
    </p>

  </div>
  <img src="/assets/images/mill.svg" class="section_accent">
</section>

<section class="inverse">
  <div class="section_wrapper">
    <div>
      <h1 class="section_title">Projects</h1>
    </div>
    <div class="card_container">
      {% for project in site.projects limit:3 %}
        <article class="card card_dark">
          <img src="{{ project.icon }}" alt="{{ project.title }}" class="card_image">
          <h3>{{ project.title }}</h3>

          <p>{{ project.intro }}</p>

          <em><a href="{{ project.repository }}">View on GitLab <i class="fab fa-gitlab"></i></a></em>

        </article>
      {% else %}
        <p>No projects yet!</p>
      {% endfor %}
    </div>

    <div class="section_footer">
      <p><a href="/projects/">More <i class="fas fa-angle-right"></i></a></p>
    </div>

  </div>
</section>

<section>
  <div class="section_wrapper">
    <div>
      <h1 class="section_title">Employment</h1>
    </div>
    <div class="card_container">
      
      {% assign sorted_jobs = site.jobs | reverse %}
      {% for job in sorted_jobs limit:6 %}
        <article class="card">
          {% if job.logo %}
          <img src="{{ job.logo }}" alt="{{ job.company }}" class="card_image">
          {% else %}
          <img src="/assets/images/jobs/work.svg" alt="{{ job.company }}" class="card_image">
          {% endif %}
          <h3 class="job_title"><a href="{{ job.url }}">{{ job.title }}</a></h3>
          <p class="job_company">{{ job.company }}</p>
          <p class="job_location">{{ job.location }}</p>
          <p class="job_date">{{ job.date | date: "%m-%Y" }} / {{ job.date_end | date: "%m-%Y"  }}</p>

        </article>
      {% else %}
        <p>Jobs</p>
      {% endfor %}
    </div>

    <div class="section_footer">
      <p><a href="/jobs/">More <i class="fas fa-angle-right"></i></a></p>
    </div>

  </div>
</section>

<section class="inverse">
  <div class="section_wrapper">
    <div>
      <h1 class="section_title">Skills</h1>
    </div>

    <div class="skill_card_container">

    {% assign ratings = site.skills | group_by: "rating" %}
    {% assign ratingsSorted = ratings  | sort: "name" | reverse %}
    {% assign count = 1 %}

    {% for rating in ratingsSorted %}

      {% assign skillsSorted = rating.items | sort: "title" %}
      {% for skill in skillsSorted %}
      

      {% if count <= 8 %}
        <article class="card card_dark skill_card">
          <div class="skill_icon">
            <i class="{{ skill.icon_class }}"></i>
          </div>
          <h3 class="skill_name">{{ skill.title }}</h3>

          <div class="skill_rating">

            {% for i in (1..5) %}

              {% if i <= skill.rating %}
                <span class="skill_rating_icon skill_rating_icon_checked">
              
              {% else %}
                <span class="skill_rating_icon">
              
              {% endif %}

              <i class="fas fa-square"></i>
              </span>

            {% endfor %}

          </div>
        </article>

      {% else %}
        {% break %}
      {% endif %}

      {% assign count = count | plus: 1 %}

      {% endfor %}

    {% else %}
      <p>No skills yet</p>

    {% endfor %}

    </div>
    
    <div class="section_footer">
      <p><a href="/skills/">More <i class="fas fa-caret-right"></i></a></p>
    </div>
  </div>
</section>

<section>
  <div class="section_wrapper">
    <div>
      <h1 class="section_title">Recent Posts</h1>
    </div>
    <div class="card_container">
      {% for post in site.posts limit:3 %}
        <article class="card">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

          <p>{{ post.excerpt }}</p>

        </article>
      {% else %}
        <p>No posts yet!</p>
      {% endfor %}
    </div>
    <div class="section_footer">
      <p><a href="/blog/">More <i class="fas fa-angle-right"></i></a></p>
    </div>
  </div>
</section>