---
layout: page
title: Employment
permalink: /jobs/
---

<div class="card_container">
  {% assign sorted_jobs = site.jobs | sort: 'date' | reverse %}
  {% for job in sorted_jobs limit:8 %}
    <article class="card">
      {% if job.logo %}
      <img src="{{ job.logo }}" alt="{{ job.company }}" class="card_image">
      {% else %}
      <img src="/assets/images/jobs/work.svg" alt="{{ job.company }}" class="card_image">
      {% endif %}
      <h3 class="job_title"><a href="{{ job.url }}">{{ job.title }}</a></h3>
      <p class="job_company">{{ job.company }}</p>
      <p class="job_location">{{ job.location }}</p>
    <p class="job_date">
      {{ job.date | date: "%m-%Y" }} / {{ job.date_end | date: "%m-%Y" }}
    </p>
    </article>
  {% else %}
    <p>Jobs</p>
  {% endfor %}
</div>