---
layout: page
title: Projects
permalink: /projects/
---

<div class="card_container">
  {% for project in site.projects %}
    <article class="card">
      <img src="{{ project.icon }}" alt="{{ project.title }}" class="card_image">
      <h3>{{ project.title }}</h3>

      <p>{{ project.intro }}</p>

      <em><a href="{{ project.repository }}">View on GitLab <i class="fab fa-gitlab"></i></a></em>

    </article>
  {% else %}
    <p>No projects yet!</p>
  {% endfor %}