---
layout: page
title: Skills
permalink: /skills/
---

<div class="skill_card_container">

{% assign ratings = site.skills | group_by: "rating" %}
{% assign ratingsSorted = ratings  | sort: "name" | reverse %}
{% for rating in ratingsSorted %}

  {% assign skillsSorted = rating.items | sort: "title" %}
  {% for skill in skillsSorted %}
  

      <article class="card skill_card">
        <div class="skill_icon">
          <i class="{{ skill.icon_class }}"></i>
        </div>
        <h3 class="skill_name">{{ skill.title }}</h3>

        <div class="skill_rating">

        {% for i in (1..5) %}

          {% if i <= skill.rating %}
            <span class="skill_rating_icon skill_rating_icon_checked">
          
          {% else %}
            <span class="skill_rating_icon">
          
          {% endif %}

          <i class="fas fa-square"></i>
          </span>

        {% endfor %}

        </div>
      </article>

  {% endfor %}

{% else %}
  <p>No skills yet</p>

{% endfor %}

</div>