/*********/
/* Forms */
/*********/

.form_input {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--black);
  box-shadow: 0 0 0 var(--black);
  color: var(--black);
  transition-property: border-bottom, box-shadow;
  transition-duration: 500ms;
  margin: 0;
  margin-top: 0.3em;
  margin-bottom: 1em;
  width: 100%;
}

.form_input:focus {
  border-bottom: 1px solid var(--blue);
  box-shadow: 0px 3px 0 var(--blue);
  transition-property: border-bottom, box-shadow;
  transition-duration: 500ms;
}
.form_is_invalid,
.form_input:invalid {
  border-bottom: 1px solid var(--red);
  box-shadow: 0 3px 0 var(--red);
}

.form_textarea {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--black);
  box-shadow: 0 0 0 var(--black);
  color: var(--black);
  height: 5em;
  margin: 1em 0;
  resize: none;
  transition-property: border-bottom, box-shadow;
  transition-duration: 500ms;
  width: 100%;
}

.form_textarea:focus {
  border-bottom: 1px solid var(--blue);
  box-shadow: 0 3px 0 var(--blue);
  transition-property: border-bottom, box-shadow;
  transition-duration: 500ms;
}

.form_label {
  font-size: 0.85em;
  font-style: italic;
}

.form_invalid_feedback {
  font-size: 0.85em;
  color: var(--red);
  margin: 0;
  margin-top: -0.3em;
  margin-bottom: 1.5em;
}
