/***********/
/* Buttons */
/***********/

.btn {
  background: none;
  box-shadow: none;
  border: none;
  box-shadow: 0px 0px 0.1em var(--black);
  border-radius: 3px;
  color: var(--black);
  cursor: pointer;
  padding: 0.6em 1em;
}

.btn_success {
  background-color: var(--green);
  box-shadow: 0px 0px 0.1em var(--green);
  color: var(--white);
}

.btn_primary {
  background-color: var(--blue);
  box-shadow: 0px 0px 0.1em var(--blue);
  color: var(--white);
}
