<div class="cover inverse">
  <div class="cover-wrapper">
    <img class="logo" src="/assets/images/logo_red_n.svg">
    <h1 class="cover_title">Hidde Kloosterman</h1>

    {% include nav.html %}
  </div>
</div>