<nav>
  <ul>
    <li>
      <a href="/projects/">Projects</a>
    </li>
    <li>
      <a href="/jobs/">Employment</a>
    </li>    
    <li>
      <a href="/skills/">Skills</a>
    </li>
    <li>
      <a href="/blog/">Blog</a>
    </li>
  </ul>
</nav>