.page_header li,
.page_header ul,
.page_header nav,
.page_header .page_header_title {
  display: inline;
}

.page_header {
  box-shadow: 0px 0px 0.2em var(--red);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 1;
}

.page_header a:hover {
  text-decoration: none;
}

.page_header li {
  margin-right: 0.5em;
}

.page_header_title {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
