/**********/
/* Colors */
/**********/

:root {
  --black: hsl(180, 9%, 11%);
  --blue: hsl(227, 70%, 25%);
  --green: hsl(88, 86%, 25%);
  --grey_dark: hsl(180, 9%, 15%);
  --red: hsl(5, 72%, 45%);
  --white: hsl(300, 33%, 97%);

  // Highlight colours

  --hl_black: var(--black);
  --hl_white: var(--white);
  --hl_grey: hsl(0, 0%, 53%);
  --hl_red: var(--red);
  --hl_green: var(--green);
  --hl_blue: var(--blue);
  --hl_red: var(--red);
}
