/*********/
/* Fonts */
/*********/

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Do Hyeon';
  src: url('/assets/fonts/DoHyeon-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraCode';
  src: url('/assets/fonts/FiraCode-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/assets/fonts/FiraCode-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/assets/fonts/FiraCode-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}