.highlight_heading {
  margin-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-color: var(--black);
  border-bottom-style: dashed;
}

/* Base Style */
figure.highlight{
  margin: 0;
  padding-left: 1em;
}

.highlight pre {
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'FiraCode';
  color: var(--hl_black);
  background-color: var(--hl_white);

}

/* Punctuation */
.highlight .p { color: var(--hl_red); font-weight: bold;}

/* Error */
.highlight .err {color: var(--white); background-color: var(--red);}

/* Name Base Style */
.highlight .n { color: var(--hl_blue)}

/* Name Attribute */
.highlight .na { color: var(--hl_blue)}

/* Name Builtin */
.highlight .nb { color: var(--hl_blue); font-weight: bold;}

/* Name Class */
.highlight .nc { color: var(--hl_blue)}

/* Name Constant */
.highlight .no { color: var(--hl_blue)}

/* Name Decorator */
.highlight .nd { color: var(--hl_blue)}

/* Name Entity */
.highlight .ni { color: var(--hl_blue)}

/* Name Exception */
.highlight .ne { color: var(--hl_blue)}

/* Name Function */
.highlight .nf { color: var(--hl_blue)}

/* Name Label */
.highlight .nl { color: var(--hl_blue)}

/* Name Namespace */
.highlight .nn { color: var(--hl_blue)}

/* Name Other */
.highlight .nx { color: var(--hl_blue)}

/* Name Property */
.highlight .py {}

/* Name Tag */
.highlight .nt {}

/* Name Variable */
.highlight .nv {}

/* Name Variable Class */
.highlight .vc {}

/* Name Variable Global */
.highlight .vg {}

/* Name Variable Instance */
.highlight .vi {}

/* Name Builtin Pseudo */
.highlight .bp {}

/* Base Style */
.highlight .o {color: var(--hl_red); font-weight: bold;}

/* Operator Word */
.highlight .ow {}

/* Comment Base Style */
.highlight .c { color: #888888;}

/* Comment Multiline */
.highlight .cm { color: #888888;}

/* Comment Preproc */
.highlight .cp { color: #888888;}

/* Comment Single */
.highlight .c1 { color: #888888;}

/* Comment Special */
.highlight .cs { color: #888888;}

/* Base Style */
.highlight .k {font-weight: bold;}

/* Keyword Constant */
.highlight .kc {font-weight: bold;}

/* Keyword Declaration */
.highlight .kd {font-weight: bold;}

/* Keyword Namespace */
.highlight .kn {font-weight: bold;}

/* Keyword Pseudo */
.highlight .kp {font-weight: bold;}

/* Keyword Reserved */
.highlight .kr {font-weight: bold;}

/* Keyword Type */
.highlight .kt {font-weight: bold;}

/* Base Style */
.highlight .l {}

/* Literal Date */
.highlight .ld {}

/* Literal Number */
.highlight .m {font-weight: bold;}

/* Literal Number Float */
.highlight .mf {font-weight: bold;}

/* Literal Number Hex */
.highlight .mh {font-weight: bold;}

/* Literal Number Integer */
.highlight .mi {font-weight: bold;}

/* Literal Number Oct */
.highlight .mo {font-weight: bold;}

/* Literal Number Integer Long */
.highlight .il {font-weight: bold;}

/* Literal String */
.highlight .s {color: var(--hl_green);}

/* Literal String Backtick */
.highlight .sb {color: var(--hl_green);}

/* Literal String Char */
.highlight .sc {color: var(--hl_green);}

/* Literal String Doc */
.highlight .sd {color: var(--hl_green);}

/* Literal String Double */
.highlight .s2 {color: var(--hl_green);}

/* Literal String Escape */
.highlight .se {color: var(--hl_green);}

/* Literal String Heredoc */
.highlight .sh {color: var(--hl_green);}

/* Literal String Interpol */
.highlight .si {color: var(--hl_green);}

/* Literal String Other */
.highlight .sx {color: var(--hl_green);}

/* Literal String Regex */
.highlight .sr {color: var(--hl_green);}

/* Literal String Single */
.highlight .s1 {color: var(--hl_green);}

/* Literal String Symbol */
.highlight .ss {color: var(--hl_green);}

/* Base Style */
.highlight .g {}

/* Generic Deleted */
.highlight .gd {}

/* Generic Emph */
.highlight .ge {}

/* Generic Error */
.highlight .gr {}

/* Generic Heading */
.highlight .gh {}

/* Generic Inserted */
.highlight .gi {}

/* Generic Output */
.highlight .go {}

/* Generic Prompt */
.highlight .gp {}

/* Generic Strong */
.highlight .gs {}

/* Generic Subheading */
.highlight .gu {}

/* Generic Traceback */
.highlight .gt {}

/* Other */
.highlight .x {}

/* Text Whitespace */
.highlight .w {}