/**********/
/* Modals */
/**********/

hkl-modal {
  // Hidden by default
  display: none;

  .hkl-modal {
    //   modal container fixed across whole screen
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // z-index must be higher than jw-modal-background
    z-index: 1100;

    // Enable scrolling for tall modals
    overflow: auto;

    .hkl-modal-body {
      padding: 2em;
      background: var(--white);

      // margin exposes part of the modal background;
      margin: 4em;
    }
  }

  .hkl-modal-background {
    //   modal background fixed across whole screen

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // semi transparent black
    background-color: var(--black);
    opacity: 0.75;

    // z-index must be below hkl-modal and above everything else
    z-index: 1050;
  }
}

body.hkl-modal-open {
  // body overflow is hidden to hide main scrollbar when modal window is open
  overflow: hidden;
}
