---
layout: base
---

{% include header.html %}

<section class="job">
  <div class="section_wrapper">
    <div>
      {% if page.logo %}
      <img class="job_logo" src="{{ page.logo }}" alt="{{ page.company }}" class="card_image">
      {% else %}
      <img class="job_logo" src="/assets/images/jobs/work.svg" alt="{{ page.company }}" class="card_image">
      {% endif %}
      <h1 class="section_title job_title">{{ page.title }}</h1> 
      <div class="job_date">{{ page.date | date: "%m-%Y" }} / {{ page.date_end | date: "%m-%Y"  }}</div>
      
      

      <h2 class="job_company">{{ page.company }} </h2> 
      <p class="job_location">{{ page.location }}</p>

      
      
      <h3>Responsibilities</h3>
      <ul>
        {% for responsibility in page.responsibilities %}
          
          <li>{{ responsibility }}</li>

        {% endfor %}
      </ul>
    {{ content }}
    </div>
    
    <div>
      <nav>
        <ul>
          {% for job in site.jobs reversed %}
            {% if job.date == page.date %}
              <li><a class="current_job" href="{{ job.url }}">> {{job.title}}</a><span class="nav_job_date"> - {{ job.date | date: "%Y" }}</span></li>
            {% else %}
              <li><a href="{{ job.url }}">{{job.title}}</a><span class="nav_job_date"> - {{ job.date | date: "%Y" }}</span></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</section>
