---
layout: base
---
{% include header.html %}

<section>
  <div class="section_wrapper">
    <div>
      <h1 class="section_title">{{ page.title }}</h1>
    </div>
    {{ content }}
  </div>
</section>
